---
import { App, type AppProps } from "@/components/app";
import {
	getMunicipalityCollection,
	getRegionCollection,
	getSchoolCollection,
} from "@/scripts/collections";
import { getMunicipalityMap } from "@/scripts/municipality-map";
import "@/styles/global.css";
import { bbox } from "@turf/turf";
import { SEO } from "astro-seo";

const title = "Skærmsund Barndom Heatmap";
const description = "Interaktivt heatmap over løfter i Skærmsund Barndom.";

// Fetch the data
const [
	schoolCollection,
	municipalityCollection,
	regionCollection,
	municipalityMap,
] = await Promise.all([
	getSchoolCollection(),
	getMunicipalityCollection(),
	getRegionCollection(),
	getMunicipalityMap(),
]);

// Calculate the initial bounds of the map
const bounds = bbox(municipalityMap);
const initialBounds = bounds.length === 4 ? bounds : undefined;

const props = {
	schoolCollection,
	municipalityCollection,
	regionCollection,
	municipalityMap,
	initialBounds,
} satisfies AppProps;
---

<!doctype html>
<html lang="da">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" href="/favicon.ico" sizes="32x32" />

		<SEO
			description={description}
			canonical={Astro.url.href}
			openGraph={{
				basic: {
					url: Astro.url.href,
					title,
					type: "website",
					image: `${Astro.url.origin}/og-image.jpg`,
				},
				image: {
					alt: description,
					height: 544,
					url: `${Astro.url.origin}/og-image.jpg`,
					width: 966,
				},
			}}
		/>

		<title>{title}</title>
	</head>
	<body>
		<App {...props} client:load />
	</body>
</html>
