---
import { App } from "@/components/solid/app";
import { GET as getMunicipalityCollection } from "@/pages/api/municipality-collection.json";
import { GET as getMunicipalityMap } from "@/pages/api/municipality-map.json";
import { GET as getRegionCollection } from "@/pages/api/region-collection.json";
import { GET as getSchoolCollection } from "@/pages/api/school-collection.json";
import "@/styles/global.css";
import { bbox } from "@turf/turf";
import { SEO } from "astro-seo";
import "maplibre-gl/dist/maplibre-gl.css";

const title = "Skærmsund Barndom Heatmap";
const description = "Interaktivt heatmap over løfter i Skærmsund Barndom.";

const [
	municipalityMap,
	municipalityCollection,
	regionCollection,
	schoolCollection,
] = await Promise.all([
	(await getMunicipalityMap(Astro)).json(),
	(await getMunicipalityCollection(Astro)).json(),
	(await getRegionCollection(Astro)).json(),
	(await getSchoolCollection(Astro)).json(),
]);

console.log("municipalityMap", municipalityMap);

const bounds = bbox(municipalityMap);
const initialBounds = bounds.length === 4 ? bounds : undefined;
console.log("initialBounds", initialBounds);
---

<!doctype html>
<html lang="da">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" href="/favicon.ico" sizes="32x32" />

		<SEO
			description={description}
			canonical={Astro.url.href}
			openGraph={{
				basic: {
					url: Astro.url.href,
					title,
					type: "website",
					image: `${Astro.url.origin}/og-image.jpg`,
				},
				image: {
					alt: description,
					height: 544,
					url: `${Astro.url.origin}/og-image.jpg`,
					width: 966,
				},
			}}
		/>

		<title>{title}</title>
	</head>
	<body>
		<main
			class="text-text selection:bg-primary-70 selection:fill-container selection:text-container overflow-hidden bg-transparent font-sans antialiased"
			spellcheck={false}
		>
			<article>
				<App
					municipalitiesMap={municipalityMap}
					schoolCollection={schoolCollection}
					municipalityCollection={municipalityCollection}
					regionCollection={regionCollection}
					initialBounds={initialBounds}
					client:load
				/>
			</article>
		</main>
	</body>
</html>
