---
import { App } from "@/components/solid/app";
import municipalitiesMapRaw from "@/data/municipality-map.json?raw";
import schoolsRaw from "@/data/schools.json?raw";
import { getMunicipalityMap } from "@/scripts/municipality-map";
import { getSchools } from "@/scripts/schools";
import "@/styles/global.css";
import { SEO } from "astro-seo";
import "maplibre-gl/dist/maplibre-gl.css";

interface Props {
	title?: string | null;
}

const { title } = Astro.props;

const municipalitiesMap =
	import.meta.env.DEV ?
		JSON.parse(municipalitiesMapRaw)
	:	await getMunicipalityMap();
const schools =
	import.meta.env.DEV ? JSON.parse(schoolsRaw) : await getSchools();
---

<!doctype html>
<html lang="da">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" href="/favicon.ico" sizes="32x32" />

		<SEO
			description="Skærmsund Barndom Heatmap"
			canonical={Astro.url.href}
			openGraph={{
				basic: {
					url: Astro.url.href,
					title: title ?? "",
					type: "website",
					image: `${Astro.url.origin}/og-image.png`,
				},
				image: {
					alt: "Skærmsund Barndom Heatmap",
					height: 630,
					url: `${Astro.url.origin}/og-image.png`,
					width: 1200,
				},
			}}
		/>

		<title>{title}</title>
	</head>
	<body>
		<main
			class="text-text selection:bg-primary-70 selection:fill-container selection:text-container overflow-hidden bg-transparent font-sans antialiased"
			spellcheck={false}
		>
			<article>
				<App
					municipalitiesMap={municipalitiesMap}
					schools={schools}
					client:load
				/>
			</article>
		</main>
	</body>
</html>
