---
import "@/styles/global.css";
import { SEO } from "astro-seo";

interface Props {
	title?: string | null;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="da">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="icon" href="/favicon.ico" sizes="32x32" />

		<SEO
			description="Skærmsund Barndom Heatmap"
			canonical={Astro.url.href}
			openGraph={{
				basic: {
					url: Astro.url.href,
					title: title ?? "",
					type: "website",
					image: `${Astro.url.origin}/og-image.png`,
				},
				image: {
					alt: "Skærmsund Barndom Heatmap",
					height: 630,
					url: `${Astro.url.origin}/og-image.png`,
					width: 1200,
				},
			}}
		/>

		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
